<div class="wrap mobile-wrap" id="iapp-app" ng-controller="SearchController as search" ng-click="isFormOpen = false">

    <div class="panel-inner-wrap">
      <div class="mobile-back-bar"></div>
      <div class="inner-wrap">
        <h2 class="mobile-head">How many claims has TSA paid at your airport?</h2>
        <h3 class="sub-head">Search for claims at your airport</h3>
      </div>
      
      <div class="inner-wrap">
        <div id="search_cont" class="pull-left" >
          <input type="text" class="form-control" id="company_search_box" placeholder="Enter your airport here" ng-model="filterTerm"  ng-change="search.mobileSearch()" >
          <!-- <div class="clear-button" ng-click ="search.clear()"><img src="img/close-icon.svg" alt=""></div> -->
          <ul class="list-group" ng-show="isFormOpen" id="search_results" ng-focus="isFormOpen = True">
              <li class="list-group-item ng-cloak" ng-repeat="airport in filteredArray" ng-click="setFocus(airport)">
                  <h3 class="search-name">{{airport.Airport_Name}}</h3>
                  <h4 class="search-detail">{{airport.State}}</h4>
                  
              </li>
          </ul>
          <div class="mobile-company-info-box">Use the search box above to find your airport.</div>
            </div>
      </div>
      
      <div class="panel-wrap" ng-show="isDetailShow">
        <div class="panel-info inner-wrap">
            <h3 class="data-head" id="panel-head">{{current.Airport_Name}}</h3>
            <h4 class="data-sub" id="panel-sub">{{current.State}}</h4>
          </div>
          <div class="data-chart"></div>
          <div class="data-group inner-wrap group">
              <h2 class="total-number">{{current.Total_Paid | currency}}</h2>
              <h2 class="total-label" >Total Paid</h2>
            
            <div class="sub-group">
              <h4 class="data-number">{{current.Approved_or_Settled | number}}</h4>
              <h3 class="section-head">Claims approved or settled</h3>
              
            </div>
            <div class="sub-group">
            <h2 class="data-number">{{current.Total_Claims | number}}</h2>
            <h2 class="section-head incident-label" ng-click="showInfo()">Total Claims</h2>
              
            </div>
             
          </div>
        <div class="inner-wrap buttom-buttons">
          <div class="info-button" ng-click="showInfo()"><img src="http://www.gannett-cdn.com/experiments/usatoday/2014/11/airport-interactive/img/info.svg" alt="info" ></div>
          <a href="#" target="_blank" class="article-button button" >Read Story</a>
          <div class="share-button" ng-click="showShare()"><img src="http://www.gannett-cdn.com/experiments/usatoday/2014/11/airport-interactive/img/options.svg" alt="share" ></div>
        </div>
      </div>      
    </div>
    <div class="share-page">
        <div class="share-close-button" ng-click="hideShare()"><img src="http://www.gannett-cdn.com/experiments/usatoday/2014/11/airport-interactive/img/close.svg" alt="close" class="close-icon"></div>
        <h2 class="share-title">Share</h2>
        <p class="share-copy">{{share.copy}}</p>
        <div class="iapp-share-buttons">
            <a href="https://twitter.com/intent/tweet?url={{share.twitterShare}}&text={{share.encodedShare}}{{ share.twitterShareImage }}" ng-click="shareClick($event)" class="iapp-share-button iapp-share-twitter iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/twitter.svg" alt="Twitter share"></a>
            <a href="https://www.facebook.com/dialog/feed?display=popup&app_id={{share.fb_id}}&link={{share.fbShare}}&picture={{share.stillimage}}&name=&description={{share.encodedShare}}&redirect_uri={{share.fb_redirect}}" ng-click="shareClick($event)"  class="iapp-share-button iapp-share-facebook iapp-share-popup" target="_blank"><img src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/fb.svg" alt="Facebook share"></a>
        </div>
            
          </a>
      
      </div>
    <div class="info-page">
      <div class="info-close-button" ng-click="hideInfo()"><img src="http://www.gannett-cdn.com/experiments/usatoday/2014/11/airport-interactive/img/close.svg" alt="close" class="close-icon"></div>
      <h2 class="info-title share-title">Info</h2>
      <p class="info-text">The number of claims, approved and settled claims and dollar amounts of payments to passengers are drawn from the Transportation Security Administration's released data about every claim filed for each airport from 2010 through 2014. The line shows the paid claims - those TSA investigated and either approved or settled - for each of the five years. The totals below represent the totals for the entire five-year period.</p>
      <h2 class="info-title share-title">Credits</h2>
      <p class="info-text">Nicholas Penzenstadler, John Kelly, Mitchell Thorson USA TODAY</p>
      <p class="info-text"><strong>Source: </strong> FAA</p>
      <p class="info-text"><strong>Photo Credits: </strong>KARIM SAHIB/AFP/Getty Images</p>
    </div>

  </div>
